#projetos {
  margin: 10px 0;

  #lista {
    display: flex;
    justify-content: space-around;
  }


  h2{
    background-color: rgb(200, 200, 200);
    padding: 10px 0;
    text-align: center;
    font-weight: bold;
  }

  .grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 18px;
    text-align: center;

    .image-container {
      height: 350px;
      width: 100%;
      border: 5px solid lightgray;
      border-radius: 15px;
      overflow: hidden;
    }
    .grid-item {
      img {
        height: 350px;
        width: 100%;
        object-fit: cover;
        transition: all 0.3s ease-in-out;

        &:hover {
          transform: scale(1.1);
        }
      }
    }
  }
}
